* @conxlgtm

/Package.swift @conxlgtm
/Examples/ @conxlgtm
/docs/ @conxlgtm
/scripts/ @conxlgtm

/Sources/CWaylandProtocols/ @conxlgtm
/Sources/CWaylandRuntimeShims/ @conxlgtm
/Sources/WaylandRaw/ @conxlgtm
/Sources/WaylandRuntime/ @conxlgtm

/Sources/WaylandClient/ @conxlgtm
/Sources/WaylandCursor/ @conxlgtm
/Sources/WaylandKeyboard/ @conxlgtm

/Tests/WaylandRawTests/ @conxlgtm
/Tests/WaylandRuntimeTests/ @conxlgtm
/Tests/WaylandClientTests/ @conxlgtm
/Tests/WaylandCursorTests/ @conxlgtm
/Tests/WaylandKeyboardTests/ @conxlgtm

/.github/workflows/ @conxlgtm
